{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-12">
			<p>Bacon ipsum dolor amet kevin rump porchetta shoulder corned beef. Corned beef flank kevin landjaeger leberkas turkey fatback drumstick andouille sausage ball tip. Spare ribs tenderloin strip steak, pastrami pork belly boudin sausage pork pork loin corned beef jowl. Beef rump kielbasa flank. Sirloin turkey rump brisket ham tri-tip. Ham hock sausage pig tongue sirloin alcatra boudin ground round bacon capicola. Leberkas venison rump beef ball tip chicken hamburger.</p>		
		</div>
		<div class="col-lg-12">
		<h2>Lorem ipsum</h2>
		</div>
		</div>
		<div class="col-lg-12" id="content">
		</div>        
	</div>
</div>
{% endblock %}